---
title: Infos
slug: infos
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 3
editable_elements:
  main/infos: <h1 class="wysiwyg-text-align-center">Contacts:<br><br></h1><pre>lolo:&nbsp;06
    xx xx xx xx - pour le stud<br>manu:&nbsp;07 xx xx xx xx - pour le site</pre><p
    class="wysiwyg-text-align-center text-center"><img title="Lion-of-Judah.png" alt="undefined"
    src="/samples/assets/Lion-of-Judah.png"></p><p><br></p>
---
{% extends index %}
{% block "main" %}
<div class="row">
  <div class="span-6", style="text-align: center">
    <div>
      <h1>Youtokintoumi?</h1>
      <br>
    </div>
    {% model_form 'messages', success: '/yepm', error: '/nopm' %}
    <p>
      <label for="nom">Nom</label>
      <input type="text" name="content[nom]" value="{{message.nom}}">
    </p>
    <p>
      <label for="email">Email</label>
      <input type="text" name="content[email]" value="{{message.email}}">
    </p>
    <p>
      <label for="comment">Message</label>
      <textarea name="content[message]">{{message.message}}</textarea>
    </p>
    <p>
      <input class="btn btn-primary" type="submit" value="Envoyer">
    </p>
    {% endmodel_form %}
  </div>
  <div class="span-6">
    {% editable_text "infos", hint: "page contact", priority: 4 %}
    <h1>edit me</h1>
    {% endeditable_text %}
  </div>
</div>
{% endblock %}
