---
title: Réservation enregistrée
listed: false
published: true
---
{% extends index %}
{% block main %}
<div class="row text-center">
  <div class="col col-md-6 col-md-offset-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">OK!<br></h3>
      </div>
      <div class="panel-body">
        <p class="lead">La réservation à été enregistrée.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
